.studio-card {
  width: 60%;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0% 20%;
  background-color: aliceblue;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  transition: 0.3s;
}

.text-center {
  text-align: center;
  font-size: 24px; /* Adjust font size for "Hello World" */
}

.text-5xl {
  font-size: 30px;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.bordered-table th {
  background-color: #130000;
  color: white;
}

.bordered-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.search-container {
  margin-bottom: 20px;
  width: 300px;
}
